/Source/.vs
/Source/bin
/Source/obj
/Compiled
/Source/DawnCache
/Source/Intel® VTune™ Profiler Results
/Source/GPUCache
/Source/debug.log
/Source/packages
/CSCompatibilityLayer/obj
/CSCompatibilityLayer/bin
